<table
  class="x_full-width-container"
  border="0"
  cellpadding="0"
  cellspacing="0"
  height="100%"
  width="100%"
  bgcolor="#eeeeee"
  style="width: 100%; height: 100%; padding: 30px 0 30px 0"
>
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table
          class="x_container"
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="700"
          bgcolor="#ffffff"
          style="width: 700px"
        >
          <tbody>
            <tr>
              <td align="center" valign="top">
                <table
                  class="x_container x_header"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="620"
                  style="width: 620px"
                >
                  <tbody>
                    <tr>
                      <td
                        align="left"
                        style="
                          padding: 30px 0 30px 0;
                          border-bottom: solid 1px #eeeeee;
                        "
                      >
                        <img
                          data-imagetype="External"
                          src="https://www.skillsim.com/images/logotipo.png"
                          alt="logotipo-skillsim"
                          width="135"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table
                  class="x_container x_hero-subheader"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="620"
                  style="width: 620px"
                >
                  <tbody>
                    <tr>
                      <td
                        class="x_hero-subheader__title"
                        align="center"
                        style="
                          font-size: 25px;
                          font-weight: bold;
                          padding: 40px 0 30px 0;
                        "
                      >
                        Fatura {maskCode} -
                        <span
                          data-markjs="true"
                          class="markdjvt0f9p2"
                          data-ogac=""
                          data-ogab=""
                          data-ogsc=""
                          data-ogsb=""
                          >SkillSim</span
                        >.com
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="x_hero-subheader__content"
                        align="left"
                        style="
                          font-size: 12px;
                          line-height: 16px;
                          color: black;
                          padding: 0 0px 60px 0;
                        "
                      >
                        Olá, {nome}, estamos encaminhando a fatura de serviço
                        referente ao
                        <b
                          >aluguel por {dias} dias de acesso a internet rede
                          internacional </b
                        >com ativação no dia <b>{data_ativacao} </b>.
                        <br aria-hidden="true" /><br aria-hidden="true" />
                        <br aria-hidden="true" />Aproveite o melhor da sua
                        viagem!<br aria-hidden="true" /><br
                          aria-hidden="true"
                        /><a
                          href="https://www.skillsim.com"
                          target="_blank"
                          rel="noopener noreferrer"
                          data-auth="NotApplicable"
                          style="
                            color: #ffffff;
                            text-decoration: none;
                            padding: 15px 15px;
                            text-transform: uppercase;
                            display: block;
                            text-align: center;
                            font-size: 16px;
                            background-color: #2779ff;
                          "
                          data-linkindex="1"
                          >www.<span
                            data-markjs="true"
                            class="markdjvt0f9p2"
                            data-ogac=""
                            data-ogab=""
                            data-ogsc=""
                            data-ogsb=""
                            >skillsim</span
                          >.com</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table
                  class="x_container"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td align="center">
                        <table
                          class="x_container"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          width="620"
                          align="center"
                          style="border-top: 1px solid #eeeeee; width: 620px"
                        >
                          <tbody>
                            <tr>
                              <td
                                style="
                                  text-align: center;
                                  padding: 30px 0 10px 0;
                                "
                              >
                                <a
                                  href="http://www.skillsim.com"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  data-auth="NotApplicable"
                                  style="
                                    font-size: 20px;
                                    text-decoration: none;
                                    color: #d5d5d5;
                                  "
                                  data-linkindex="2"
                                  >www.<span
                                    data-markjs="true"
                                    class="markdjvt0f9p2"
                                    data-ogac=""
                                    data-ogab=""
                                    data-ogsc=""
                                    data-ogsb=""
                                    >skillsim</span
                                  >.com</a
                                >
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="
                                  color: #d5d5d5;
                                  text-align: center;
                                  font-size: 15px;
                                  padding: 0px 0 30px 0;
                                  line-height: 22px;
                                "
                              >
                                Todos os direitos reservados<br
                                  aria-hidden="true"
                                />CNPJ: {cnpj}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
